@media (prefers-color-scheme: dark) {
  :root {
    --GW-blockquote-background-color: #ddd;
  }
  body::before,
  body > * {
    filter: invert(98%);
  }
  body::before {
    content: "";
    width: 100vw;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: -1;
  }
  img,
  video {
    filter: invert(100%);
  }
  #markdownBody,
  #mode-selector button {
    text-shadow: 0 0 0 #000;
  }
  article > :not(#TOC) a:link {
    text-shadow: 0 0 #777, 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff,
      0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
  }
  article > :not(#TOC) blockquote a:link {
    text-shadow: 0 0 #777, 0.03em 0 var(--GW-blockquote-background-color),
      -0.03em 0 var(--GW-blockquote-background-color), 0 0.03em var(--GW-blockquote-background-color),
      0 -0.03em var(--GW-blockquote-background-color), 0.06em 0 var(--GW-blockquote-background-color),
      -0.06em 0 var(--GW-blockquote-background-color), 0.09em 0 var(--GW-blockquote-background-color),
      -0.09em 0 var(--GW-blockquote-background-color), 0.12em 0 var(--GW-blockquote-background-color),
      -0.12em 0 var(--GW-blockquote-background-color), 0.15em 0 var(--GW-blockquote-background-color),
      -0.15em 0 var(--GW-blockquote-background-color);
  }
  #logo img {
    filter: none;
  }
}