@import "normalize.scss";
@import "fonts.scss";
@import "katex.scss";

html {
  font-family: "Source Serif Pro", Baskerville, "Libre Baskerville", serif;
  font-weight: 400;
  @media only screen and (max-width: 65ch) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Source Serif Pro", serif;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 112ch;
  min-height: 100vh;
  color: #000000;
  background-color: #ffffff;

  .paginate-list-group {
    dd {
      margin-left: 0;
      article {
        margin-left: 1em;
      }
    }
  }

  #paginator {
    display: flex;
    justify-content: center;
  }

  @media only screen and (min-width: 65ch) {
    padding: 0 1.5ch 0 0.5ch;
    margin: 0 auto;
    #sidebar {
      position: absolute;
    }
    article,
    header,
    .paginate-list-group {
      margin-left: 15ch;
      @media only screen and (max-width: 120ch) {
        margin-left: 14.5ch;
      }
      @media only screen and (max-width: 112ch) {
        margin-left: 14ch;
      }
      @media only screen and (max-width: 104ch) {
        margin-left: 13.5ch;
      }
      @media only screen and (max-width: 96ch) {
        margin-left: 13ch;
      }
    }
  }
  @media only screen and (min-width: 118.5ch) {
    padding: 0 6ch 0 0.5ch;
  }
  @media only screen and (max-width: 65ch) {
    margin: 0 1ch;
  }
  & > footer {
    font-family: "Raleway", "Source Sans Pro", sans-serif;
    align-self: flex-end;
    & span:not(#copyright)::before {
      content: "|";
      margin-left: 0.2em;
    }
  }
  .responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .responsive-iframe-container iframe,
  .vresponsive-iframe-container object,
  .vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#sidebar {
  font-family: "Raleway", "Source Sans Pro", sans-serif;
  a {
    display: block;
  }
  ul {
    list-style: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }
  @media only screen and (min-width: 65ch) {
    width: 10ch;
    a#logo {
      margin: 1em 0 1em 0;
      display: flex;
      justify-content: center;
      img {
        width: 5rem;
      }
    }
  }
  @media only screen and (max-width: 65ch) {
    display: flex;
    justify-content: center;
    margin: 0 0 0.5em 0;
    a {
      border: 1px dotted #000;
      padding: 3px 10px;
      text-align: center;
      margin: 1px;
    }
    a#logo {
      padding: 10px 2px 0px 5px;
      img {
        width: 4rem;
      }
    }
    a.home,
    a.links,
    a.site {
      flex: 1 1 20%;
    }
    #sidebar-links {
      display: flex;
      flex-flow: row wrap;
      margin: 0.5em 0 0 0;
    }
  }
}

figure {
  img {
    width: 100%;
    height: auto;
  }
  & > figcaption > p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    margin: 0;
  }
}

main {
  flex: 1 0 auto;
  article:not(:first-of-type) {
    margin-top: 1em;
  }
}

article {
  .summary-title {
    font-size: 150%;
    display: inline;
  }
  & > :not(#TableOfContents) a {
    &:hover {
      color: #7345a2;
      text-decoration-style: dotted;
    }
    &:visited {
      color: #3c3c3c;
    }
    &:link {
      color: #663399;
      text-decoration-line: underline;
    }
  }
  code {
    font-size: 0.9em;
  }
  pre {
    margin: 0;
    overflow-x: auto;
    padding: 0 2px;
    border: 1px dashed #c8c8c8;
  }
  :not(pre) > code {
    padding: 0 2px;
    font-size: 0.9em;
    border: 1px solid #c8c8c8;
    background-color: #fafafa;
    white-space: pre-wrap;
  }
  blockquote {
    border: none;
    background-color: inherit;
    font-size: inherit;
    font-style: italic;
    position: relative;
    z-index: 1;
    overflow: visible;
  }

  // Wrap all display math in an overflow friendly block , modified katex-auto-render.js
  span.scroll-indicator {
    display: block;
  }
  pre,
  .scroll-indicator {
    overflow-x: auto;
    background: linear-gradient(90deg, white 30%, rgba(255, 255, 255, 0)) left/3em no-repeat local,
      linear-gradient(90deg, rgba(255, 255, 255, 0), white 70%) right/3em no-repeat local,
      radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)) left/.7em no-repeat scroll,
      radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)) right/.7em no-repeat scroll;
  }
}

header {
  overflow: auto;
  h1 {
    margin: 0.2em 0 0.5em 0;
    text-align: center;
    text-transform: none;
    font-variant: small-caps;
    font-size: 3em;
    line-height: 1.15;
    font-weight: 600;
    letter-spacing: -1px;
    @media only screen and (max-width: 65ch) {
      font-size: 2em;
    }
  }
}

ul#tags {
  &::before {
    content: "topics:";
  }
  display: inline;
  list-style: none;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  li {
    display: inline;
  }
}

#page-metadata,
.article-metadata {
  margin: 0 0 1em 0;
  overflow: visible;
  font-size: 0.95em;
  line-height: 1.1;
  & > span:not(:last-child)::after {
    content: ";";
  }
  hr {
    display: none;
  }
  #page-description {
    display: block;
    font-style: italic;
    margin-bottom: 0.5em;
  }
  .meta-val {
    font-style: italic;
  }
  #page-description + br {
    display: none;
  }
  span:nth-of-type(n + 3) {
    white-space: nowrap;
  }
}

#TableOfContents {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-family: "Raleway", "Source Sans Pro", sans-serif;
  margin: 0 2rem 1.5rem 0;
  line-height: 1;
  padding: 6px 6px 4px 6px;
  position: relative;
  z-index: 1;
  &:empty {
    display: none;
  }

  @media only screen and (max-width: 128ch) {
    font-size: 0.95rem;
  }
  @media only screen and (max-width: 120ch) {
    font-size: 0.9rem;
  }
  @media only screen and (max-width: 112ch) {
    font-size: 0.85rem;
    margin: 0 1.5rem 1.25rem 0;
  }
  @media only screen and (max-width: 104ch) {
    font-size: 0.8rem;
    margin: 0 1.25rem 1rem 0;
  }
  @media only screen and (max-width: 96ch) {
    margin: 0 1rem 1rem 0;
  }
  @media only screen and (min-width: 90ch) {
    float: left;
    max-width: 30ch;
  }
  @media only screen and (max-width: 90ch) {
    float: none;
    margin: 2em auto;
    font-size: 1rem;
    & > ul > li > ul {
      column-count: 2;
    }
  }
  @media only screen and (max-width: 64.9ch) {
    a {
      display: inline-block;
    }
    & > ul > li > ul {
      column-count: 1;
    }
    li li a {
      padding: 0 0 1px 0;
    }
    li li li a {
      padding: 0 0 2px 0;
    }
    li li li li a {
      padding: 0 0 3px 0;
    }
    li li li li li a {
      padding: 0 0 4px 0;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 4px;
    padding-left: 1.4em;
    text-indent: 0;
    padding: 0;
  }
  ul ul {
    list-style-type: none;
    padding-left: 0.7em;
    margin-top: 2px;
  }
  li {
    font-weight: 700;
    margin: 5px 0 10px 0;
    padding-left: 1.125em;
    position: relative;
    overflow-wrap: break-word;
  }
  li li {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.9em;
  }
  p {
    margin-top: 9px;
    margin-bottom: 3px;
  }
  a {
    border: 0;
    display: block;
    position: relative;
    :hover {
      background-color: rgba(0, 0, 0, 0.05);
      color: #000;
    }
  }
  a:hover::after {
    content: "";
    display: inline-block;
    position: absolute;
    margin-left: 0.2em;
    left: 100%;
    top: 0;
    background-color: #663399;
    width: 0.25em;
    height: 100%;
  }
  > ul {
    counter-reset: htoc_1;
  }
  > ul > li::before {
    counter-increment: htoc_1;
    content: counter(htoc_1) "\2006  ";
  }
  > ul ul {
    counter-reset: htoc_2;
  }
  > ul ul li::before {
    counter-increment: htoc_2;
    content: counter(htoc_1) "." counter(htoc_2) "\2006  ";
  }
  > ul ul ul {
    counter-reset: htoc_3;
  }
  > ul ul ul li::before {
    counter-increment: htoc_3;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "\2006  ";
  }
  > ul ul ul ul {
    counter-reset: htoc_4;
  }
  > ul ul ul ul li::before {
    counter-increment: htoc_4;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "\2006  ";
  }
  > ul ul ul ul ul {
    counter-reset: htoc_5;
  }
  > ul ul ul ul ul li::before {
    counter-increment: htoc_5;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "." counter(htoc_5) "\2006  ";
  }
  > ul ul ul ul ul ul {
    counter-reset: htoc_6;
  }
  > ul ul ul ul ul ul li::before {
    counter-increment: htoc_6;
    content: counter(htoc_1) "." counter(htoc_2) "." counter(htoc_3) "." counter(htoc_4) "." counter(htoc_5) "."
      counter(htoc_6) "\2006  ";
  }
  ul li::before {
    position: absolute;
    right: calc(100% - 1em);
    width: 12ch;
    text-align: right;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
  }
  ul li:hover::before {
    opacity: 0.7;
  }
}

#markdownBody {
  overflow-wrap: break-word;
  & > ol > li > :first-child,
  ul > li > :first-child {
    position: relative;
    margin: 0;
  }
  table {
    thead {
      font-family: "Raleway", "Source Sans Pro", sans-serif;
    }
    tr:nth-child(odd) {
      background: rgba(233, 233, 233, 0.5);
    }
    td {
      padding: 0 1ch 0 1ch;
    }
    td:not(:first-of-type) {
      padding-left: 2ch;
    }
  }
  a.h-anchor {
    display: flex;
    justify-content: space-between;
    opacity: 1;
    &::after {
      content: "\00B6";
    }
    &:hover::after {
      visibility: visible;
    }
    &:not(:hover)::after {
      visibility: hidden;
    }
    &:hover {
      opacity: 0.6;
    }
    &:visited {
      color: #000000;
    }
    &:link {
      color: #000000;
      text-decoration-line: none;
    }
  }
  @media only screen and (min-width: 176.1ch) {
    position: relative;
  }
  @media only screen and (min-width: 65ch) and (max-width: 100ch) {
    line-height: 1.45;
  }
  @media only screen and (min-width: 65ch) and (min-width: 100ch) and (max-width: 120ch) {
    line-height: 1.5;
  }
  @media only screen and (min-width: 65ch) and (min-width: 120ch) {
    line-height: 1.55;
  }
  @supports (-webkit-hyphens: auto) or (-ms-hyphens: auto) or (hyphens: auto) {
    li,
    p {
      text-align: justify;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }

  :not(figure) > a {
    // udia.ca, media.udia.ca (localhost for development)
    &[href^="//localhost:1313"], &[href^="//media.udia.ca"], &[href^="//udia.ca"], &[href^="/"]
    {
      &:hover::after {
        opacity: 0.65;
      }
      &::after {
        content: "";
        background-image: url(/images/logo.svg);
        background-repeat: no-repeat;
        background-size: 1.1em;
        width: 1em;
        height: 1.1em;
        display: inline-block;
        padding: 0;
        vertical-align: top;
        opacity: 0.825;
      }
    }
    // gitea
    &[href*="git.udia.ca"],
    &[href*="gitea.com"] {
      &:hover::after {
        opacity: 0.65;
      }
      &::after {
        content: "";
        background-image: url(/logo/gitea.svg);
        background-repeat: no-repeat;
        background-size: 0.8em;
        background-position: top right;
        width: 0.85em;
        height: 0.85em;
        display: inline-block;
        padding: 0;
        vertical-align: baseline;
        opacity: 0.825;
      }
    }
    // wikipedia
    &[href*="wikipedia.org"],
    &[href*="wikimedia.org"],
    &[href*="wikimediafoundation.org"],
    &[href*="wikisource.org"] {
      &:hover::after {
        opacity: 0.65;
      }
      &::after {
        content: "";
        background-image: url(/logo/wikipedia.svg);
        background-repeat: no-repeat;
        background-size: 0.9em;
        width: 0.82em;
        height: 0.825em;
        display: inline-block;
        vertical-align: baseline;
        opacity: 0.825;
      }
    }
    &[href*="github.com"] {
      &:hover::after {
        opacity: 0.65;
      }
      &::after {
        content: "";
        background-image: url(/logo/github.svg);
        background-repeat: no-repeat;
        background-size: 0.9em;
        width: 1em;
        height: 0.825em;
        display: inline-block;
        vertical-align: top;
        opacity: 0.825;
      }
    }
  }

  div.epigraph {
    blockquote {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: stretch;
      // margin: 0;
      p {
        margin: 0;
      }
    }
    blockquote::before,
    blockquote::after {
      font-size: 2em;
    }
    blockquote::before {
      content: "\201C";
      align-self: flex-start;
    }
    blockquote::after {
      align-self: flex-end;
      content: "\201D";
    }
    footer {
      text-align: right;
    }
    cite::before {
      content: "\2014";
    }
  }
  pre {
    line-height: 1.1;
  }
}

#ui-elements-container {
  display: block;
  height: 3em;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10000;
}
#theme-selector {
  position: fixed;
  right: 1px;
  top: 1px;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  transition: opacity 1s ease, border-color 0.5s ease;
  border: 1px dashed #ffffff;
  @media only screen and (max-width: 65ch) {
    flex-direction: column;
  }
  &:hover {
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  button {
    font-family: "Raleway", "Source Sans Pro", sans-serif;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 0.5em;
    margin: 0;
    line-height: 1;
    font-size: 0.75rem;
    text-align: center;
    color: #777777;
    position: relative;
    cursor: pointer;
    &.active {
      color: #663399;
    }
    &.selected {
      text-decoration: underline;
      cursor: default;
    }
  }
}
