<footer>
  <p>
    &copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">
      {{ with .Site.Params.author }}<span id="copyright">{{ . }},</span>{{ end }}
      {{ .Site.Title }}</a>
    {{ with $.Site.Home.OutputFormats.Get "rss" -}}<span>
      {{ printf `<a rel="%s" type="%s" href="%s" title="%s">RSS</a>` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    </span>{{ end -}}
    <span>
      <a rel="sitemap" type="application/xml" href="{{ relURL "sitemap.xml" }}" title="{{ $.Site.Title }}">Sitemap</a>
    </span>
    <span id="license">
      License:
      {{ if .Site.Params.LicenseLink }}
      <a href="{{ .Site.Params.LicenseLink }}">{{ .Site.Params.License }}</a>
      {{ else if .Site.Params.License }}
      {{ .Site.Params.License }}
      {{ else }}
      <a href="http://www.wtfpl.net/about/">WTFPL</a>
      {{ end }}
    </span>
  </p>
</footer>