<footer>
  <!-- <div>
    <h3>Latest Posts</h3>
    <ul>
      {{ range first 5 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div> -->
  <p>
    &copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">
      {{ with .Site.Params.author }}<span>{{ . }},</span>{{ end }}
      {{ .Site.Title }}</a>
    <span id="license">
      License:
      {{ if .Site.Params.LicenseLink }}
      <a href="{{ .Site.Params.LicenseLink }}">{{ .Site.Params.License }}</a>
      {{ else if .Site.Params.License }}
      {{ .Site.Params.License }}
      {{ else }}
      <a href="http://www.wtfpl.net/about/">WTFPL</a>
      {{ end }}
    </span>
  </p>
</footer>