<div id="page-metadata">
  <!-- <span id="kind-type">kind: {{ .Kind }}/{{ .Type }};</span> -->
  {{ if .PublishDate }}
    <span id="page-published" title="{{ .PublishDate.Format "Mon, 02 Jan 2006 15:04:05 MST" }}">
      created: <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-0700" }}">{{ .PublishDate.Format "02 Jan 2006" }}</time>;
    </span>
  {{ end }}
  {{ if .Lastmod }}
    <span id="page-modified" title="{{ .Lastmod.Format "Mon, 02 Jan 2006 15:04:05 MST" }}">
      modified: <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05-0700" }}">{{ .Lastmod.Format "02 Jan 2006" }}</time>;
    </span>
  {{ end }}
  {{ if .ReadingTime }}
    <span id="reading-time">reading time: {{ .ReadingTime }} min(s);</span>
  {{ end }}
  {{ with .Params.tags }}
  <ul id="tags">
    {{ range . }}
    <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</div>